body {
    height:100%;
}

h1, h2, h3, p, span
button {
    font-family: Oswald, sans-serif;
}

h1 {
    margin: 0;
    font-size: 50px;
    color: #241C1C;
}

h3 {
   color: #F44444;
}

#base {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "header"
                         "game"
                         "build_area";
    grid-template-rows: 90px 1fr 120px;
}

.stack {
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
}

.board {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.game-container {
    background: #DCE4EC;
    border-radius: 5px;
    padding: 20px;
}

#stats {
    padding: 20px;
    border-radius: 5px;
    background: #DCE4EC;
}

/*  
   BUILD AREA
*/
#build_area {
    display: flex;
    align-items: center;

}

button {
    font-size: 30px;
    background-color: #EE2530;
    border: none;
    color: #FFF;
    height: 70px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #EBE614;
    color: #EE2530;
}